{{#each shows as |show|}}

    <!-- <small>{{show.date}}</small>
    <small>{{show.band}}</small>
    <small>{{show.venue}}</small>
    <small>{{show.location}}</small> -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Band</th>
          <th>Venue</th>
          <th>Location</th>
          <th>Rating</th>
          <th>Notes</th>
          <th>id</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <th scope="row" data-id="{{show.id}}"></th>

          <td>{{show.date}}</td>
          <td>{{show.band}}</td>
          <td>{{show.venue}}</td>
          <td>{{show.location}}</td>
          <td>{{show.rating}}</td>
          <td>{{show.notes}}</td>
          <td>{{show.id}}</td>
            <td><button data-id="{{show.id}}" type="button" name="button" class="remove-show glyphicon glyphicon-remove-sign"></button>

          <li data-id="{{show.id}}" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b>Edit Show</b> </a>
            <ul class="dropdown-menu">
              <li>
            <form data-id="{{show.id}}" class="edit-show">
              <div class="form-group">
               <input data-id="{{show.id}}" type="text" name="show[date]" value="{{show.date}}">
               <input data-id="{{show.id}}" type="text" name="show[band]" value="{{show.band}}">
               <input data-id="{{show.id}}" type="text" name="show[venue]" value="{{show.venue}}">
               <input data-id="{{show.id}}" type="text" name="show[location]" value="{{show.location}}">
               <input data-id="{{show.id}}" type="number" name="show[rating]" value="{{show.rating}}">
               <input data-id="{{show.id}}" type="text" name="show[notes]" value="{{show.notes}}">
               <button data-id="{{show.id}}" data-date="{{show.date}}" data-band="{{show.band}}" data-venue="{{show.venue}}"
                data-location="{{show.location}}" data-rating="{{show.rating}}" data-notes="{{show.notes}}" type="submit" name="button" class="edit-show glyphicon glyphicon-edit"></button>
              </div>
           </form>
        </tr>
      </tbody>
    </table>
        <!-- <small><button id="removeShowsButton" data-id="{{show.id}}" class="btn btn-default">Delete Show</button></small> -->
    </form>
  </h1>
  <!-- <div>
    {{#if show.rating}}
      {{show.rating}}
    {{else}}
      No rating
    {{/if}}
  </div>
  <div>
    {{#if show.notes}}
      {{show.notes}}
    {{else}}
      No notes.
    {{/if}}
  </div> -->

{{/each}}
