{{#each shows as |show|}}

    <!-- <small>{{show.date}}</small>
    <small>{{show.band}}</small>
    <small>{{show.venue}}</small>
    <small>{{show.location}}</small> -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Band</th>
          <th>Venue</th>
          <th>Location</th>
          <th>Rating</th>
          <th>Notes</th>
          <th>id</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <th scope="row" data-id="{{show.id}}"></th>

          <td>{{show.date}}</td>
          <td>{{show.band}}</td>
          <td>{{show.venue}}</td>
          <td>{{show.location}}</td>
          <td>{{show.rating}}</td>
          <td>{{show.notes}}</td>
          <td>{{show.id}}</td>
            <td><button data-id="{{show.id}}" type="button" name="button" class="remove-show glyphicon glyphicon-remove-sign"></button>
        </tr>
      </tbody>
    </table>
        <!-- <small><button id="removeShowsButton" data-id="{{show.id}}" class="btn btn-default">Delete Show</button></small> -->
    </form>
  </h1>
  <!-- <div>
    {{#if show.rating}}
      {{show.rating}}
    {{else}}
      No rating
    {{/if}}
  </div>
  <div>
    {{#if show.notes}}
      {{show.notes}}
    {{else}}
      No notes.
    {{/if}}
  </div> -->

{{/each}}
